@{
    
}

<h1>Client Information Blog</h1>

<p><a asp-controller="Info" asp-action="Add">Add article</a></p>

@if (ViewBag.Infos.Count == 0)
{
    <p>No Information yet!</p>
}


<ul>
    @foreach (string Info in ViewBag.Infos)
    {
        <li>@Info</li>
    }
</ul>
