@{
    ViewData["Home"] = "Home Page";
}

<head>Attorneys in St. Louis</head>
<body>
    <div class="HomeMenuBar">
        <div id="AboutUs">
            <a href=""></a>
        </div>
    </div>
</body>